---
---

@import "{{ site.theme }}";

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
}

.navbar {
	display: flex;
}

.main-content table {
	table-layout: fixed;
	width: 100%;
}

.main-content table th, .main-content table td {
	width: 10%;
	padding: 0.5rem;
}

.navbar-logo {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.navbar-spacer {
	@include large {
		flex: 4;
	}

	@include medium {
		flex: 3;
	}

	@include small {
		flex: 2;
	}
}

.navbar-lang {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.page-header {
	padding-top: 0;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 3rem;
}
